.header {
    height: 13.8rem;
    margin: 0 auto;
    background-color: #B9BDCF;;
    border-radius: 8px;
    background-position: bottom; 
    background-image: url(../img/backgroundImg.png);
    background-size: cover 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

